.qr-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .qr-container {
    width: 80vw; // Ajusta el tamaño del contenedor según tus preferencias
    height: 80vw; // Mantén la proporción cuadrada
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .qr-container img {
    width: 100%;
    height: 100%;
    max-width: 300px; // Tamaño máximo del QR
    max-height: 300px; // Tamaño máximo del QR
    object-fit: contain;
  }
  