<app-encabezado></app-encabezado>
<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let asignatura of asignaturas">
      <ion-label>
        <h2>{{ asignatura.nombre }}</h2>
        <p>ID: {{ asignatura.asignatura_id }}</p>
        <p>Aula: {{ asignatura.aula }}</p>
        <p>Horario: {{ asignatura.horario }}</p>
      </ion-label>
      <ion-checkbox 
        slot="start" 
        [(ngModel)]="asignatura.isSelected">
      </ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="guardarSeleccion()" color="primary" class="save-btn">
    Guardar tus Asignaturas
  </ion-button>