ion-content {
  --background: white;
}


.title-container {
  text-align: center;
  margin-bottom: 20px;
}

.title-container h2 {
  font-size: 2rem;
  color: var(--ion-color-primary);
}

.title-container p {
  font-size: 1rem;
  color: var(--ion-color-primary);
  font-size: large;
}

ion-item {
  --border-color: var(--ion-color-primary);
  --background: var(--ion-color-light);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
}

ion-input {
  font-size: 1rem;
  color: var(--ion-color-dark);
}

/* Estilos para centrar y agrandar el botón */
.fab-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.large-button {
  width: 200px; /* Botón más grande */
  height: 200px;
  font-size: 2rem; /* Aumenta el tamaño del icono */
  border-radius: 100px; /* Botón circular */
}

.large-button ion-icon {
  font-size: 4rem; /* Tamaño del icono grande */
}

.location-info {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}
