ion-content {
    --background: #f8f8f8;
  }
  
  ion-list {
    padding-top: 20px; 
    padding-bottom: 20px; 
    margin-bottom: 80px; 
    background-color: #f7f7f7;

  }
  
  ion-item {
    background-color: rgb(0, 0, 0);
    border-radius: 10px; 
    margin-bottom: 10px;
    transition: transform 0.3s ease; 
    display: flex;
    align-items: center;
  }
  
  ion-item:hover {
    transform: translateY(-3px); 
  }
  
  ion-label h2 {
    font-size: 18px; 
    font-weight: bold;
    color: #ffffff;
    margin: 0;
  }
  
  ion-label p {
    font-size: 14px;
    color: #ffffff; 
    margin: 4px 0;
  }
  
  ion-checkbox {
    --padding-start: 12px;
  }
  
  ion-button {
    margin-top: 20px;
    border-radius: 20px; 
    font-weight: bold;
    font-size: 16px; 
    transition: background-color 0.3s ease;
  }
  

  .save-btn {
    margin-top: 0px;
    border-radius: 8px;
  }

  ion-fab {
    margin-bottom: 20px; 
    margin-right: 20px; 
  }