.card-title {
    font-size: 1.5rem; // Aumenta el tamaño de la fuente para el título
    text-align: center; // Centra el título
    font-weight: bold; // Resalta el título
    color: #ffffff; // Color blanco para el título
  }
  
  .detail {
    margin-bottom: 16px; // Espacio entre los detalles
    padding: 10px; // Espacio interno para los detalles
    background-color: rgba(255, 255, 255, 0.1); // Fondo semitransparente
    border-radius: 8px; // Bordes redondeados
    font-size: 1rem; // Tamaño de fuente
    color: #ffffff; // Color de texto
  }
  
  .sub-title {
    margin-top: 24px; // Margen superior para separación
    font-size: 1.3rem; // Tamaño de fuente para subtítulo
    color: #ffffff; // Color blanco para el subtítulo
    text-align: center; // Centra el subtítulo
  }
  
  .assistant-item {
    background-color: rgba(255, 255, 255, 0.1); // Fondo semitransparente para los asistentes
    border-radius: 8px; // Bordes redondeados
    margin-bottom: 8px; // Espacio entre los elementos de la lista
    padding: 10px; // Espacio interno para los ítems
    color: #fffcfc; // Color de texto
  }
  
  .assistant-item p {
    margin: 0; // Elimina márgenes en los párrafos dentro de los ítems
  }
  