.toggle-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 24px; /* Ajusta el tamaño según sea necesario */
    z-index: 1; /* Para asegurarse de que el ícono no se superponga con el texto */
  }