.custom-alert {
    .alert-content {
      display: flex;
      flex-direction: column; 
      justify-content: center; 
      align-items: center; 
      text-align: center; 
    }
  
    .check-icon {
      font-size: 50px; 
      color: green; 
      margin-bottom: 10px; 
    }
  
    p {
      font-size: 20px; 
      margin: 0; 
    }
  }
  .info-message {
    font-size: small;
    color: white;
    text-align: center;
    margin-top: 30px;
  }
  
ion-input {
  --color: black; 
}
